## Preprocessing

In [1]:
###########################
# Import our dependencies #
###########################
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

#########################################
#  Import and read the charity_data.csv #
#########################################
import pandas as pd 
df = pd.read_csv("charity_data.csv")
df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
print("Num GPUs Available: ", len(tf.config.experimental.list_physical_devices('GPU')))

Num GPUs Available:  0

In [3]:
########################################################
# Drop the non-beneficial ID columns, 'EIN' and 'NAME' #
########################################################
df = df.drop(['EIN','NAME'], axis = 1)
df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
########################################################
# Determine the number of unique values in each column #
########################################################
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
#####################################################
# Look at APPLICATION_TYPE value counts for binning #
#####################################################
df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
###############################################################################
# Choose a cutoff value and create a list of application types to be replaced #
# use the variable name `application_types_to_replace`                        #
###############################################################################
application_types_to_replace = []
for x in df['APPLICATION_TYPE'].unique():
    if len(df.loc[df['APPLICATION_TYPE'] == x]) < 500:
        application_types_to_replace.append(x)

########################
# Replace in dataframe #
########################
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

#############################################
# Check to make sure binning was successful #
#############################################
df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
###################################################
# Look at CLASSIFICATION value counts for binning #
###################################################
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
#############################################################################
# Choose a cutoff value and create a list of classifications to be replaced #
# use the variable name `classifications_to_replace`                        #
#############################################################################
classifications_to_replace = []
for x in df['CLASSIFICATION'].unique():
    if len(df.loc[df['CLASSIFICATION'] == x]) < 1880:
        classifications_to_replace.append(x)

########################
# Replace in dataframe #
########################
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")
    
#############################################
# Check to make sure binning was successful #
#############################################
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
#############################################################
# Convert categorical data to numeric with `pd.get_dummies` #
#############################################################
df = pd.get_dummies(df)
df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [10]:
###################################################################
# Split our preprocessed data into our features and target arrays #
###################################################################
y = df['IS_SUCCESSFUL'].values
X = df.drop(["IS_SUCCESSFUL"], axis=1).values

###################################################################
# Split the preprocessed data into a training and testing dataset #
###################################################################
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [11]:
#####################################
# Create a StandardScaler instances #
#####################################
scaler = StandardScaler()

##########################
# Fit the StandardScaler #
##########################
X_scaler = scaler.fit(X_train)

##################
# Scale the data #
##################
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
!pip install tensorflow

In [12]:
###########################################################################################################
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer. #
###########################################################################################################
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30
number_input_features

nn = tf.keras.models.Sequential()

######################
# First hidden layer #
######################
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

#######################
# Second hidden layer #
#######################
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

################
# Output layer #
################
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

####################################
# Check the structure of the model #
####################################
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [13]:
#####################
# Compile the model #
#####################
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
###################
# Train the model #
###################
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 712us/step - loss: 0.5727 - accuracy: 0.7182
Epoch 2/100
804/804 [==============================] - 1s 648us/step - loss: 0.5575 - accuracy: 0.7271
Epoch 3/100
804/804 [==============================] - 1s 764us/step - loss: 0.5532 - accuracy: 0.7294
Epoch 4/100
804/804 [==============================] - 1s 698us/step - loss: 0.5529 - accuracy: 0.7278
Epoch 5/100
804/804 [==============================] - 0s 615us/step - loss: 0.5511 - accuracy: 0.7297
Epoch 6/100
804/804 [==============================] - 1s 688us/step - loss: 0.5497 - accuracy: 0.7310
Epoch 7/100
804/804 [==============================] - 1s 644us/step - loss: 0.5490 - accuracy: 0.7306
Epoch 8/100
804/804 [==============================] - 1s 655us/step - loss: 0.5480 - accuracy: 0.7336
Epoch 9/100
804/804 [==============================] - 1s 705us/step - loss: 0.5470 - accuracy: 0.7315
Epoch 10/100
804/804 [==============================] - 1s 727us/step - loss: 0.5467 - accuracy: 0.7328
Epoch 11/100
804/804 [==============================] - 1s 640us/step - loss: 0.5461 - accuracy: 0.7335
Epoch 12/100
573/804 [====================>.........] - ETA: 0s - loss: 0.5456 - accuracy: 0.7311

KeyboardInterrupt:

In [ ]:
##########################################
# Evaluate the model using the test data #
##########################################
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5650 - accuracy: 0.7289 - 207ms/epoch - 774us/step
Loss: 0.5650214552879333, Accuracy: 0.728863000869751

In [ ]:
#################################
# Export our model to HDF5 file #
#################################
nn.save('AlphabetSoupCharity.h5')